@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,300;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  background: rgb(229, 231, 235);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin: 5rem 0; */
  width: 90vw;
  height: 65vh;
}

.items {
  width: 7rem;
  height: 13rem;
  border: 2px;
  border-radius: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  cursor: pointer;
  /* box-shadow: 2px 6px 12px rgb(15 28 53); */
}

.items:hover {
  transform: translate(0px, -15px);
  box-shadow: 2px 6px 12px rgba(15, 28, 53, 30%);
  transition-duration: 200ms;
}

.colors {
  width: 6.4rem;
  height: 10.8rem;
  background-color: rgba(53, 78, 98, 99%);
  border-radius: 10px;
}

.code {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 900;
  font-family: 'Labrada', serif;
}

.btn {
  background: rgb(147, 51, 234);
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 6px;
  font-size: 13px;
  padding: 16px 2rem;
}

.btn:hover {
  background: rgba(147, 51, 234, 70%);
}

h1 {
  font-size: 65px;
  color: #9e47ec;
  font-family: 'Labrada', serif;
}

.alternate {
  margin: 1rem;
}

p{
  color: #be85f2;
  font-family: 'Labrada', serif;
  font-weight: 900;
}
